<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action = '/chitter/sign_up' method = 'post'>
    <input type = 'text' name = 'name'>
    <input type = 'text' name = 'email'>
    <input type = 'text' name = 'username'>
    <input type = 'text' name = 'password'>
    <input type = 'submit' value = 'Sign up!'>
  </form>
  </body>
</html>
